version: "3.5"
services:
  php_fpm:
      build: .
      container_name: blog_php_fpm
      working_dir: /usr/share/nginx/blog
      networks:
        - blog
      volumes:
          - ./:/usr/share/nginx/blog
  nginx:
      image: nginx:1.16
      container_name: blog_nginx
      working_dir: /usr/share/nginx/blog
      networks:
        - blog
      ports:
          - "8080:80"
      volumes:
          - ./:/usr/share/nginx/blog
          - ./docker/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
  mysql:
      image: mysql:10:3
      container_name: blog_mysql
      networks:
        - blog
      environment:
        - MYSQL_DATABASE=blog
        - MYSQL_ROOT_PASSWORD=123
        - MYSQL_USER=blog
        - MYSQL_PASSWORD=123
networks:
  blog:
    driver: bridge
